server:
  port: 8080

spring:
  application:
    name: example_monitring_app

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    prometheus:
      enabled: true
  health:
    probes:
      enabled: true
